body {
  background: rgb(32, 132, 144);
 
  background-size: cover;
  background-attachment: fixed;
  font-family: poppins;
  margin: 0;
}

// css de HEADER

#header {
  width: 100%;
  height: 80px;
  background-color: #005263;
  display: flex;
  #container {
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    #logo {
      margin: auto;
      cursor: pointer;
      display: flex;
      img {
        align-self: center;
        width: 75px;
      }
    }
  }
}

// fin de css header
.ressource{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boite {
    margin-top: 60px;
    margin-bottom: 60px;
  padding: 25px;
  border-radius: 30px;
  background-color: #005263;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  transition: 0.3s;
  box-shadow: -5px -5px 50px -9px rgba(0,0,0,0.45);
  .btns {
    #supprimer-boite {
      margin-left: 10px;
    }
  }
  input {
    width: 80px;
    height: 25px;
    background-color: #005263;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    font-size: 25px;
    color: white;
    text-align: center;
  }
  h3 {
      text-align: center;
      width: 240px;
    font-size: 30px;
    color: rgb(30, 246, 113);
  }

  #occupes {
    font-weight: 500;
    font-size: 25px;

    color: rgb(255, 104, 104);
  }
  #nbr-total {
    font-weight: 500;
    font-size: 25px;
    color: white;
  }
  #libre {
    font-weight: 500;
    font-size: 25px;
    color: rgb(30, 246, 113);
  }
}
.boite:hover{
    transform: scale(1.03);
    box-shadow: -5px -5px 50px -9px rgba(255,255,255,1);
}
  button {
    cursor: pointer;
    width: 100px;
    height: 45px;
    border-radius: 15px;
    border: none;
    background-color: white;
    color: #005263;
    font-size: 20px;
    font-weight: 500;
    font-family: poppins;
    transition: 0.3s;
    &:hover{
        transform: scale(1.05);
        color: white;
        background-color: #005263;
        border: 1px solid white;
    }
  }
  #supprimer-boite {
    width: 250px;
    background-color: rgb(230, 67, 67);
    color: white;
   
}


// fin css de BOITES

// css LITS



.lits {
  padding: 25px;
  border-radius: 30px;
  background-color: #005263;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
   transition: 0.3s;
  box-shadow: -5px -5px 50px -9px rgba(0,0,0,0.45);
  .btns {
    #supprimer-lits {
      margin-left: 10px;
    }
  }
  input {
    width: 80px;
    height: 25px;
    background-color: #005263;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    font-size: 25px;
    color: white;
    text-align: center;
  }
  h3 {
      text-align: center;
      width: 240px;
    font-size: 30px;
    color: rgb(30, 246, 113);
  }

  #occupes {
    font-weight: 500;
    font-size: 25px;

    color: rgb(255, 104, 104);
  }
  #nbr-total {
    font-weight: 500;
    font-size: 25px;
    color: white;
  }
  #libre {
    font-weight: 500;
    font-size: 25px;
    color: rgb(30, 246, 113);
  }

  button {
    cursor: pointer;
    width: 100px;
    height: 45px;
    border-radius: 15px;
    border: none;
    background-color: white;
    color: #005263;
    font-size: 20px;
    font-weight: 500;
    font-family: poppins;
     &:hover{
        transform: scale(1.05);
        color: white;
        background-color: #005263;
        border: 1px solid white;
    }
  }
  #supprimer-lits {
    width: 250px;
    background-color: rgb(230, 67, 67);
    color: white;
  }
}
.lits:hover{
    transform: scale(1.03);
    box-shadow: -5px -5px 50px -9px rgba(255,255,255,1);
}

#ajouter{
    width: 250px;
    background-color: rgb(35, 202, 71);
    color:#005263 ;
    margin-top: 60px;
    height: 60px;
    margin-left: 55px;
}
